{
  "parser":"babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "react/prop-types": "off",
    "react/no-multi-comp": "off",
    "no-console": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}